<a href="https://colab.research.google.com/github/Sumanasri02/data-analytics-learning-journey/blob/main/04_Python_for_Data_Analytics/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics for Data Analytics

This notebook covers Python fundamentals required for data analysis.

Code topics

Variables & data types

Lists, tuples, dictionaries

Loops

Functions

In [1]:
# Integer
age = 22

# Float
salary = 45000.75

# String
name = "Sumanasri"

# Boolean
is_student = True

print(type(age))
print(type(salary))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
# List (mutable)
scores = [80, 85, 90, 95]
print(scores)
print("First score:", scores[0])

# Tuple (immutable)
dimensions = (1920, 1080)
print(dimensions)

# Dictionary (key-value pairs)
student = {
    "name": "Sumanasri",
    "age": 22,
    "course": "Data Analytics"
}

print(student)
print("Student Name:", student["name"])

[80, 85, 90, 95]
First score: 80
(1920, 1080)
{'name': 'Sumanasri', 'age': 22, 'course': 'Data Analytics'}
Student Name: Sumanasri

In [3]:
scores = [80, 85, 90, 95]

for score in scores:
    print(score)

80
85
90
95

In [4]:
count = 1
while count <= 5:
  print("Count:", count)
  count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [5]:
def calculate_average(numbers):
  return sum(numbers) / len(numbers)

scores = [80, 85, 90, 95]
average_score = calculate_average(scores)

print("Averages_score:", average_score)

Averages_score: 87.5

## Summary

- Learned Python variables and data types
- Worked with lists, tuples, and dictionaries
- Used loops for iteration
- Created reusable functions

These fundamentals are essential for data analytics and machine learning workflows.